<?xml version="1.0" encoding="utf-8"?>
<config>
    <heartbeat_interval>200</heartbeat_interval>
    <self_addr>localhost</self_addr>
    <rpc_timeout>300</rpc_timeout>
    <election_timeout_upper_bound>600</election_timeout_upper_bound>
    <election_timeout_lower_bound>200</election_timeout_lower_bound>
    <servers nums="5">
        <server>
            <serverId>0</serverId>
            <host>54.201.223.206</host>
            <port>9527</port>
        </server>
        <server>
            <serverId>1</serverId>
            <host>34.221.98.179</host>
            <port>9527</port>
        </server>
        <server>
            <serverId>2</serverId>
            <host>34.213.163.202</host>
            <port>9527</port>
        </server>
        <server>
            <serverId>3</serverId>
            <host>34.216.181.5</host>
            <port>9527</port>
        </server>
        <server>
            <serverId>4</serverId>
            <host>34.212.24.196</host>
            <port>9527</port>
        </server>
    </servers>
</config>

