<?xml version="1.0" encoding="utf-8"?>
<config>
    <servers nums="1">
        <server>
            <serverId>1</serverId>
            <host>localhost</host>
            <port>9527</port>
        </server>
        <server>
            <serverId>2</serverId>
            <host>localhost</host>
            <port>9528</port>
        </server>
        <server>
            <serverId>3</serverId>
            <host>localhost</host>
            <port>9529</port>
        </server>
    </servers>
    <matrix filepath="xxx.txt"/>
</config>
